/* Explore more with the flexbox properties! */

/* FLEXBOX PROPERTIES */
/* 
flex-direction
flex-wrap
flex-flow
justify-content
align-items
align-content
*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#p5-canvas-container {
  display: block;
}

.landing-page-title-container {
  width: 100vw;
  height: 100vh;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container {
  background-color: antiquewhite;

  width: 800px;
  margin: auto;
}